<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumIDE" parallel="tests">
  <test name="Test">
    <classes>
      <class name="seleniumide.testng.Selenium2TestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SeleniumIDE -->
